/* main.css */

html, body {
    height: 100%;
}

/* FONTS */

@font-face {
    font-family: brotherhood;
    src: url("../fonts/Brotherhood_Script.ttf");
    font-weight: 100;
}

@font-face {
    font-family: quaskin;
    src: url("../fonts/QaskinBlack_PersonalUse.ttf")
}


/* contact info top */
#top{
    background: #eceeef;
}

#contactInfo {
    padding: 5px;
    font-size: 1rem;
    justify-content: center;
}

#contactInfo a {
    display: flex;
    color: #000000;
    line-height: 20px;
    padding: 3px;
    text-decoration: none;
    justify-content: flex-end;
}


/* navigation */
#navContainer {
    min-height: 56px;
    border-bottom: 1px ridge;
    background: linear-gradient(#eceeef, #ffffff);
}

#navContainer .navbar-brand {
    color: #000000;
    font-size: 8vmin;
    font-family: brotherhood, fantasy;
}

@media screen and ( max-width: 999px){
    #navContainer .navbar-brand {
        font-size: 8vh;
        text-align: center;
    }
}


.navbar-toggler{
    z-index: 1090;
    position: static;
    margin: auto;
    width: 70%;
}


.nav-link {
    font-size: 1.75rem;
    transition: 0.2s ease-in-out;
}

@media screen and ( max-width: 999px ){
    .nav-link{
        text-align: center;
    }
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, .9);
    transform: scale(1.2);
}


/* main page carousel */


#homeCarousel {
    width: 100%;
    height: 50%;
}

#homeCarousel .carousel-inner,
#homeCarousel .carousel-inner .carousel-item {
    height: 100%;
}

#homeCarousel img {
    object-fit: cover;
}

/* about */
#about{
    background: linear-gradient( #ffffff, #eceeef, #ffffff);
}

#about h1 {
    font-size: 4rem;
}

@media screen and (max-width: 768px){
    #about h1{
        font-size: 3rem;
    }

}

#about div {
    font-size: 1.75rem;
}


@media screen and (max-width: 768px){
    #about div{
        font-size: 1.5rem;!important;
    }
}

/************
*************
*************
OFERTA SITE
*************
*************
************/

#oferta{
    background: linear-gradient( #ffffff, #eceeef, #ffffff);
}

#oferta h1{
    font-weight: 300;
}

@media screen and (max-width: 768px){
    #oferta h1{
        font-size: 2rem;
    }
}



#oferta .card-image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 75.19% 0 0 0;
}

#oferta .card-image img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#oferta .btn{
    color: #4b5257;
}


/************
*************
*************
GALLERY SITE
*************
*************
************/

#gallery{
    background: linear-gradient( #ffffff, #eceeef, #ffffff);
}

#gallery h1{
    font-weight: 300;
}

@media screen and (max-width: 768px){
    #gallery h1{
        font-size: 2rem;
    }
}

#gallery .row div {
    padding: 10px;
}

#gallery .gallery-item {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 75.19% 0 0 0;
}

#gallery .gallery-item img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}



#gallery .gallery-item img:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}



/************
*************
*************
CONTACT SITE
*************
*************
************/

#contactData {
    font-weight: 300;
}

#companyName {
    font-size: 1.75rem;
}

#companyAddress {
    font-size: 1.4rem;
}

#companyPhone,
#companyPhone:hover,
#companyPhone:active,
#companyPhone:visited {
    font-size: 1.4rem;
    text-decoration: none;
    color: #000000;
}

/* Responsive contact map */

#mapResponsive {
    overflow:hidden;
    padding-bottom:56.25%;
    margin: 0 15px 0 15px;
    position:relative;
    height:0;
}

#mapResponsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* contact form */

#contactForm{
    border-top: 1px ridge;
    background: linear-gradient( #ffffff, #eceeef, #ffffff);
}

.form-group{
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    #contactForm h1{
        font-size: 2rem;
    }
}

.form_input label{
    margin: 1rem 0;
    font-size: 1.75rem ;
    font-weight: 300;
}

.form_input label sup{
    color: #FF0000;
    font-size: 1.75rem;
    margin-top: -0.5rem;
}

.form_input input, .form_input textarea{
    font-size: 1.5rem;
    color: #000000;
}

.form_input input:focus, .form_input textarea:focus{
    background: rgba(0, 0, 0, 0.1);
    border: solid 1px;
}

#message {
    height: 100%;
    padding-bottom: 1rem;
}

#message #tresc {
    height: 100%;
    min-height: 150px;
}

.form_input textarea{
    width: 100%;
    resize: none;
    height: 100%;
}


#send_form {
    font-size: 1.75rem;
    font-weight: 300;
}

@media screen and ( max-width: 767px ) {

    #send div {
        display: flex;
        flex-direction: column;
    }

    #rc-imageselect, .g-recaptcha {
        transform: scale(0.86);
        -webkit-transform: scale(0.86);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        margin: auto;
    }

}
/************
*************
*************
FOOTER
*************
*************
************/

footer {
    border-top: 1px ridge;
}

footer, footer a, footer a:hover {
    color: #4b5257;
    text-decoration: none;
}

#creator{
    font-size: 0.75rem;
}

@media screen and ( max-width: 767px ) {
    #pages{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #pages a{
        padding: 0.5rem;
    }
    #creator{
        text-align: center;
        padding: 1.5rem 0;
    }
}