 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O mnie</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nazywam się Sebastian Kolbusz i zajmuję tworzeniem stron iternetowych. Swoje strony tworzę przy użyciu HTML, CSS oraz JavaScript jak również w razie potrzeby przy pomocy systemów CMS, jak np GRAV lub Wordpress.</p>
                </div>
                <div class="col-lg-4">
                    <p>Nieważne czy szukasz wizytówki by dobrze się zaprezentować, platformy do blogowania, miejsca w którym możesz dzielić się z ludźmi swoją ofertą, znajdziesz tutaj coś dla siebie!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center page-scroll">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Napisz do mnie! <i class="fa fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
