<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        <div id="loader-wrapper">
            <div class="load">
                    <div class="spinner"></div>
            </div>
        </div>
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>